{%extends "layout.njk" %}
{% block head %}
  <title>About | Rocketseat</title>

{% endblock %}
{% block content %}

  <div id="wrapper">
    <a href="https://rocketseat.com.br" target="_blank">
      <img src="https://yt3.ggpht.com/a/AGF-l7_gRI0RdRC_VNg535o0C21ltP0eTFhi4rjRmw=s900-c-k-c0xffffffff-no-rj-mo" alt="logo"/></a>
    <h1>Rocketseat</h1>
    <h2>
      As melhores tecnologias em programação, direto ao ponto e do jeito certo.
    </h2>
    <ul>
      <li>HTML</li>
      <li>CSS</li>
      <li>JAVASCRIPT</li>
    </ul>
  </div>

  <div id="links-footer" class="links">
    <a href="https://instagram.com/rocketseat_oficial" target="_blank">Instagram</a >
    <a href="https://github.com/rocketseat" target="_blank">GitHub</a>
    <a href="https://facebook.com/rocketseat" target="_blank">Facebook</a>
  </div>

{% endblock %}